__pycache__/charembedding.cpython-36.pyc
.vscode/launch.json
.vscode/settings.json
__pycache__/logger.cpython-36.pyc
__pycache__/model.cpython-36.pyc
__pycache__/wordembedding.cpython-36.pyc
embeddings/word_embedding/GoogleNews-vectors-negative300.bin.gz
embeddings/word_embedding/GoogleNews-vectors-negative300.bin.gz.txt
embeddings/word_embedding/GoogleNews-vectors-negative300.bin.gz.txt.pt
embeddings/word_embedding/chunk-size.txt
embeddings/word_embedding/dict2vec-vectors-dim100.vec
embeddings/word_embedding/dict2vec-vectors-dim100.vec.pt
embeddings/word_embedding/embeddings_pkl.tar.bz2
embeddings/word_embedding/glove.6B.100d.txt
embeddings/word_embedding/glove.6B.200d.txt
embeddings/word_embedding/glove.6B.300d.txt
embeddings/word_embedding/glove.6B.50d.txt
tagset/brown.txt
tagset/upenn.txt
tagset/__pycache__/tagset.cpython-36.pyc
tagset/__pycache__/tagset_ud.cpython-36.pyc
tagset/ud-treebanks-v2.3/UD_English-GUM/LICENSE.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/README.md
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-dev.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-dev.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-test.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-test.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-train.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-train.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/stats.xml
train_dropout/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558953629.DESKTOP-9Q9QLUS
train_dropout/trained_model_en_cnn_dict2vec/cnn.pth
train_dropout/trained_model_en_cnn_dict2vec/logs/run1/events.out.tfevents.1558694836.ca65edce450c
train_dropout/trained_model_en_cnn_dict2vec/logs/run2/events.out.tfevents.1558711832.156f2b1d2295
train_dropout/trained_model_en_cnn_dict2vec/logs/run3/events.out.tfevents.1558763387.1b07109d4bb5
train_dropout/trained_model_en_cnn_dict2vec/logs/run4/events.out.tfevents.1558811604.eaed6b1205ea
train_dropout/trained_model_en_cnn_dict2vec/logs/run5/events.out.tfevents.1558862614.bd166d1bf184
train_dropout/trained_model_en_cnn_dict2vec/logs/run6/events.out.tfevents.1558943453.1fa2b818b4ab
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run1/events.out.tfevents.1558694855.ca65edce450c
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run2/events.out.tfevents.1558711850.156f2b1d2295
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run3/events.out.tfevents.1558763405.1b07109d4bb5
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run4/events.out.tfevents.1558811622.eaed6b1205ea
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run5/events.out.tfevents.1558862632.bd166d1bf184
train_dropout/trained_model_en_cnn_dict2vec/logs/val-run6/events.out.tfevents.1558943501.1fa2b818b4ab
train_dropout/trained_model_en_cnn_polyglot/cnn.pth
train_dropout/trained_model_en_cnn_polyglot/trained_embedding_cnn.txt
train_dropout/trained_model_en_cnn_polyglot/logs/run1/events.out.tfevents.1558440840.bbaaed7376fd
train_dropout/trained_model_en_cnn_polyglot/logs/run2/events.out.tfevents.1558444610.bbaaed7376fd
train_dropout/trained_model_en_cnn_polyglot/logs/val-run1/events.out.tfevents.1558440868.bbaaed7376fd
train_dropout/trained_model_en_cnn_polyglot/logs/val-run2/events.out.tfevents.1558444636.bbaaed7376fd
train_dropout/trained_model_en_cnn_word2vec/cnn.pth
train_dropout/trained_model_en_cnn_word2vec/trained_embedding_cnn.txt
train_dropout/trained_model_en_cnn_word2vec/logs/run1/events.out.tfevents.1558560890.2ab20334f2cd
train_dropout/trained_model_en_cnn_word2vec/logs/run2/events.out.tfevents.1558562215.2ab20334f2cd
train_dropout/trained_model_en_cnn_word2vec/logs/run3/events.out.tfevents.1558596873.543f06c389ee
train_dropout/trained_model_en_cnn_word2vec/logs/run4/events.out.tfevents.1558645378.539e5d4d1003
train_dropout/trained_model_en_cnn_word2vec/logs/val-run1/events.out.tfevents.1558560895.2ab20334f2cd
train_dropout/trained_model_en_cnn_word2vec/logs/val-run2/events.out.tfevents.1558562220.2ab20334f2cd
train_dropout/trained_model_en_cnn_word2vec/logs/val-run3/events.out.tfevents.1558596877.543f06c389ee
train_dropout/trained_model_en_cnn_word2vec/logs/val-run4/events.out.tfevents.1558645383.539e5d4d1003
train_dropout/trained_model_en_lstm_dict2vec/lstm.pth
train_dropout/trained_model_en_lstm_dict2vec/logs/run1/events.out.tfevents.1558694545.a507fd51b87b
train_dropout/trained_model_en_lstm_dict2vec/logs/run2/events.out.tfevents.1558711844.ce2211d98689
train_dropout/trained_model_en_lstm_dict2vec/logs/run3/events.out.tfevents.1558763635.cbfff494d750
train_dropout/trained_model_en_lstm_dict2vec/logs/run4/events.out.tfevents.1558811610.372c85d9496e
train_dropout/trained_model_en_lstm_dict2vec/logs/run5/events.out.tfevents.1558826407.9ff649393e98
train_dropout/trained_model_en_lstm_dict2vec/logs/run6/events.out.tfevents.1558862537.b11b73d5ed7e
train_dropout/trained_model_en_lstm_dict2vec/logs/run7/events.out.tfevents.1558943337.e2d13aee2593
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run1/events.out.tfevents.1558694557.a507fd51b87b
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run2/events.out.tfevents.1558711856.ce2211d98689
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run3/events.out.tfevents.1558763648.cbfff494d750
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run4/events.out.tfevents.1558811623.372c85d9496e
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run5/events.out.tfevents.1558826421.9ff649393e98
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run6/events.out.tfevents.1558862550.b11b73d5ed7e
train_dropout/trained_model_en_lstm_dict2vec/logs/val-run7/events.out.tfevents.1558943350.e2d13aee2593
train_dropout/trained_model_en_lstm_polyglot/lstm.pth
train_dropout/trained_model_en_lstm_polyglot/trained_embedding_lstm.txt
train_dropout/trained_model_en_lstm_polyglot/logs/run1/events.out.tfevents.1558460315.9fb3430d21d1
train_dropout/trained_model_en_lstm_polyglot/logs/val-run1/events.out.tfevents.1558460323.9fb3430d21d1
train_dropout/trained_model_en_lstm_word2vec/lstm.pth
train_dropout/trained_model_en_lstm_word2vec/trained_embedding_lstm.txt
train_dropout/trained_model_en_lstm_word2vec/logs/run4/events.out.tfevents.1558597000.a41e061717fd
train_dropout/trained_model_en_lstm_word2vec/logs/val-run1/events.out.tfevents.1558512417.6ce95cf47609
train_dropout/trained_model_en_lstm_word2vec/logs/val-run2/events.out.tfevents.1558536521.5dfe4c92f723
train_dropout/trained_model_en_lstm_word2vec/logs/val-run4/events.out.tfevents.1558597006.a41e061717fd
train_dropout_test/trained_model_en_cnn2_word2vec/cnn2.pth
train_dropout_test/trained_model_en_cnn2_word2vec/trained_embedding_cnn2.txt
train_dropout_test/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558953724.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558953767.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558953931.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558954105.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn2_word2vec/logs/run1/events.out.tfevents.1558954450.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn2_word2vec/logs/val-1/events.out.tfevents.1558954489.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/cnn.pth
train_dropout_test/trained_model_en_cnn_word2vec/trained_embedding_cnn.txt
train_dropout_test/trained_model_en_cnn_word2vec/logs/run1/events.out.tfevents.1558954564.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/logs/run1/events.out.tfevents.1558955000.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/logs/run1/events.out.tfevents.1558955085.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/logs/val-1/events.out.tfevents.1558954649.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/logs/val-1/events.out.tfevents.1558955010.DESKTOP-9Q9QLUS
train_dropout_test/trained_model_en_cnn_word2vec/logs/val-1/events.out.tfevents.1558955095.DESKTOP-9Q9QLUS
